<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Class Management</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/class-listing.css}">
<link rel="stylesheet" th:href="@{/css/style-component.css}">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/class-listing.js}"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
	crossorigin="anonymous"></script>
<script type="text/javascript">
	var checked = [];

	function handleOnChange(classId) {
		console.log($("#" + classId).val());

		//$('input:checkbox').not(this).prop('checked', this.checked);
		if ($('#' + classId).prop("checked") == true) {
			checked.push(classId);
		} else if ($('#' + classId).prop("checked") == false) {
			checked = $.grep(checked, function(value) {
				return value != classId;
			});
		}
		console.log(checked);
		if (checked.length > 1 || checked.length == 0) {
			$('#btn-update').removeAttr("href");
			$('#btn-update').prop('disabled', true);
		} else {
			$('#btn-update').attr("href", "");
			$('#btn-update').prop('disabled', false);
		}
	}

	function editUrl() {

		if (checked.length == 1) {
			// 			let id = $("#" + checked[0]).val();
			// 			$('#btn-update').attr("href", "class/view/" + id);
			let id = $("#" + checked[0]).val();
			$('#btn-update').attr("href", "class/edit/" + id);
			$('#btn-update').prop('disabled', false);
		}
	}
	function viewClass(id) {
		$('#btn-update').attr("href", "class/view/" + id);
		$('#btn-update').prop('disabled', false);
	}
</script>
</head>
<body>
	<div th:replace="fragments/header :: _header"></div>
	<div class="main-sect row">
		<div th:replace="fragments/menu_left :: menu_left"></div>
		<div class="col" style="padding-left: 0px">
			<div
				class=" d-flex justify-content-start border-bottom border-dark pl-3">
				<h2>Class Listing</h2>
			</div>
			<div>
				<table class="table table-borderless">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<td col-span="3" class="row">
								<div class="row ml-3 col-4 pl-1">
									<span class="pt-1 title-catgory">Location</span>
									<div class="input-group-append w-50 h-25 pl-3 row">
										<input class="dropdowninput" id="locate-inp">

										<button class="btn ml-0 border border-secondary bg-light"
											id="locate-btn">
											<i class="bi bi-caret-down-fill"></i>
										</button>

										<datalist id="locate-lst">
											<label> <select multiple id="locate-selects">
													<option th:each="location : ${locations}"
														th:value="${location.locationId}"
														th:text="${location.locationName}"
														th:selected="${location.locationId == 1}"></option>
											</select>
											</label>
										</datalist>
									</div>
								</div>
								<div class="row col-4">
									<span class="pt-1 title-catgory">Class Name</span>
									<div class="input-group-append w-50 h-25 pl-3 row">
										<input class="dropdowninput " id="name-inp">

										<button class="btn ml-0 border border-secondary bg-light"
											id="name-btn">
											<i class="bi bi-caret-down-fill"></i>
										</button>

										<datalist id="name-lst">
											<label> <select multiple id="name-selects">
													<option th:value="-1" selected>All</option>
													<option th:each="class : ${classes}"
														th:value="${class.classId}" th:text="${class.className}"></option>
											</select>
											</label>
										</datalist>
									</div>
								</div>
								<div class="row col-4">
									<span class="pt-1 title-catgory">Status</span>
									<div class="input-group-append w-50 h-25 pl-3 row">
										<input class="dropdowninput " id="status-inp">

										<button class="btn ml-0 border border-secondary bg-light"
											id="status-btn">
											<i class="bi bi-caret-down-fill"></i>
										</button>

										<datalist id="status-lst">
											<label> <select multiple size=3 id="status-selects">
													<option th:value="-1" selected>All</option>
													<option th:each="status, state : ${listOfStatus}"
														th:value="${state.count}" th:text="${status}"></option>
											</select>
											</label>
										</datalist>
									</div>
								</div>
							</td>
							<!-- 							<td class="col-4"></td> -->
							<!-- 							<td class="col-4"></td> -->
							<td>
								<div class="row">
									<span class="input-group-append ">
										<button class="btn border border-dark" type="button"
											id="search_btn">
											<i class="bi bi-search"></i> <span>Search</span>
										</button>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td col-span="3" class="row">
								<div class="row ml-3 col-4 pl-1">
									<span class="pt-1 title-catgory">From Date</span>
									<div class="input-group-append w-50 h-25 pl-3 row">
										<input id="from-date" class="form-control w-75" type="date"
											placeholder=" / / " />
									</div>
								</div>
								<div class="row col-4">
									<span class="pt-1 title-catgory">To Date</span>
									<div class="input-group-append w-50 h-25 pl-3 row">
										<input id="end-date" class="form-control w-75" type="date"
											placeholder=" / / " />
									</div>
								</div>

							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="class-data-area">
				<div class="row m-auto">
					<table class="table table-striped " border="1" id="classTbl"
						cellspacing="0" width="100%">
						<thead style="background-color: lightgray;">
							<tr>
								<th class="th-sm"><input type="checkbox" value="0"
									id="checkAll" class="id-cb" /></th>
								<th class="th-sm">#</th>
								<th class="th-sm">Class Code</th>
								<th class="th-sm">Class Name</th>
								<th class="th-sm">Actual Start Date</th>
								<th class="th-sm">Actual End Date</th>
								<th class="th-sm">Location</th>
								<th class="th-sm">Status <a href="#"
									style="color: black; text-align: right;"><i
										class="bi bi-funnel-fill "></i></a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="class, state : ${listOfClasses}" id="tbl-info">
								<td><input type="checkbox" th:value="${class.classId}"
									class="id-cb" name="classId" th:id="'cb-'+${class.classId}"
									th:onchange="handleOnChange([['cb-'+${class.classId}]])">
								</td>
								<td
									th:text="${state.count} + (${currentPage} - 1) * ${sizeOfPage} "></td>
								<td><a th:href="@{/class/view/{id}(id=${class.classId})}"
									th:text="${class.classCode}"></a></td>
								<td th:text="${class.className}" />
								<td th:text="${class.actualStartDate}" />
								<td th:text="${class.actualEndDate}" />
								<td th:text="${class.detailLocation}" />
								<td th:text="${class.status}" />
							</tr>
						</tbody>
					</table>
					<div class="row ml-sm-1 mb-0">
						<div class="dataTable_length paginationForm" id="length">
							<label>Page size</label> <select class="ml-2 length"
								style="width: fit-content">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
						</div>
						<div class="dataTables_info ml-lg-5 pl-lg-3" id="info"
							aria-live="polite">
							<span th:if="${totalItems} >1 "
								th:text="'Show '  + (1 + (${currentPage}-1) * ${sizeOfPage}) + '-' + (${listOfClasses.size()} + (${currentPage}-1) * ${sizeOfPage}) + ' of total ' + ${allItems} + ' items'"></span>
							<span th:unless="${totalItems} > 1"
								th:text="'Show '  + (1 + (${currentPage}-1) * ${sizeOfPage}) + ' of total ' + ${allItems} + ' items'"></span>
						</div>
						<div class="dataTable_page paginationForm" id="page">
							<select class="ml-2 page" style="width: fit-content">
								<option th:each="i: ${#numbers.sequence(1,totalPages)}"
									value="${i}" th:text="'Page ' +  ${i} + '/' + ${totalPages}"></option>
							</select>
						</div>
					</div>
					<nav aria-label="Page navigation example" class="ml-auto">
						<ul class="pagination">
							<li class="page-item"><a class="page-link"
								style="color: black;" th:if="${currentPage > 1}"
								th:href="@{'?pageNum=' + ${currentPage -1} + '&pageSize=' + ${sizeOfPage}}"
								th:text="'<<'"></a> <a class="page-link disabled"
								style="color: black;" th:unless="${currentPage > 1}"
								th:text="'<<'"></a></li>

							<li class="page-item"
								th:each="i: ${#numbers.sequence(1, totalPages)}"><a
								class="page-link" style="color: black;"
								th:if="${currentPage != i}"
								th:href="@{'?pageNum=' + ${i} + '&pageSize=' + ${sizeOfPage}}"
								th:text=${i}></a> <a
								class="page-link disabled bg-secondary text-light"
								style="width: fit-content" th:unless="${currentPage != i}"
								th:text=${i}></a></li>

							<li class="page-item"><a class="page-link"
								style="color: black;" th:if="${currentPage < totalPages}"
								th:href="@{'?pageNum=' + ${currentPage + 1} + '&pageSize=' + ${sizeOfPage}}"
								th:text="'>>'"></a> <a class="page-link disabled"
								style="color: black;" th:unless="${currentPage < totalPages}"
								th:text="'>>'"></a></li>
						</ul>
					</nav>
				</div>
				<a href="/class/add" class="btn btn-outline-success btn-sm ml-2"
					id="btn-new"><i class="bi bi-plus-circle-fill"></i> New Class</a> <a
					href="" onclick="editUrl()"
					class="btn btn-outline-primary btn-sm ml-2" id="btn-update"><i
					class="bi bi-arrow-up-circle-fill"></i> Update Class</a> <a
					style="color: red" class="btn btn-outline-danger btn-sm ml-2"
					id="btn-cancel"><i class="bi bi-x-circle-fill"></i> Cancel
					Class</a>
			</div>
		</div>

	</div>



	<div class="modal fade" id="confirmModal" tabindex="-1"
		aria-labelledby="confirmModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<label class="modal-title" id="confirmModalLabel">Confirm</label>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body m-auto">
					<div class="row">
						<label id="modal-title"> <i
							class="bi bi-question-circle-fill" style="color: green;"></i> Are
							you sure to request?
						</label>
					</div>
					<div class="row">
						<button type="submit" id="btn-ok"
							class="btn btn-outline-secondary ml-2" data-dismiss="modal">OK</button>
						<button type="button" id="btn-cancel1"
							class="btn btn-outline-secondary ml-2" data-dismiss="modal">Cancel</button>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: _footer"></div>

</body>
</html>