<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Candidate list</title>
<!-- jQuery library -->
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<!-- icon -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Latest compiled JavaScript -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</head>
<style>
select {
	border-radius: 4px;
	padding-left: 3px;
	padding-right: 3px;
}

#page {
	margin-left: 100px;
}

.btn-cus>i {
	font-size: 20px;
}
</style>

<body>
	<div th:include="fragments/header :: .header"></div>
	<div class="col-12">
		<div class="row">
			<div th:include="fragments/menu_left :: .menu-left"></div>
			<form th:action="@{/candidate/delete-many}" method="post">
				<div class="col">
					<div class="row m-auto">
						<h4>Candidate Listing</h4>
					</div>
					<div class="row m-auto">
						<table class="table table-striped " border="1" id="traineeTbl"
							cellspacing="0" width="100%">
							<thead style="background-color: lightgray;">
								<tr>
									<th class="th-sm"><input type="checkbox"
										id="check-del-all" /></th>
									<th class="th-sm">#</th>
									<th class="th-sm">Empl ID</th>
									<th class="sorting_asc">Account</th>
									<th class="th-sm">Name</th>
									<th class="th-sm">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="can,iter : ${candidates}">
									<td><input type="checkbox" name="checkDel"
										class="check-del" th:value=${can.id}></td>
									<td th:text="${iter.count}"></td>
									<td><a th:href="@{/candidate/view?id=} + ${can.id}"
										th:text="${can.id}"></a></td>
									<td th:text="${can.account}"></td>
									<td th:text="${can.fullName}"></td>
									<td th:text="${can.status}"></td>
								</tr>
							</tbody>
						</table>
						<div class="row ml-sm-1 mb-0">
							<div class="dataTable_length" id="length">
								<label>Page size</label> <select class="ml-2 length"
									id="pageSize"
									th:attr="onchange=|onchangePageSize(this, ${pageNumber})|">
									<option th:each="page : ${pageSizeList}" th:value="${page}"
										th:text="${page}" th:selected="(${page} == ${pageSize})"></option>
								</select>
							</div>
							<div class="dataTables_info ml-lg-5 pl-lg-3" id="info"
								aria-live="polite">
								<span
									th:text="'Show ' + ${(pageNumber * pageSize) - (pageSize - 1)}"></span>
								<span th:if="${#lists.size(candidates) >= pageSize}"
									th:text="' - ' + ${(pageNumber * pageSize)} + ' of total ' + ${amount} + ' items'"></span>
								<span th:if="${#lists.size(candidates) < pageSize}"
									th:text="' - ' + ${ #lists.size(candidates) + ((pageNumber * pageSize) - (pageSize))}  + ' of total ' + ${amount} + ' items'"></span>
							</div>
						</div>
						<nav aria-label="Page navigation example" class="ml-auto">
							<ul class="pagination">
								<li class="page-item"><span class="page-link"
									style="color: black; cursor: pointer;"
									th:attr="onclick=|onClickPreOptionPage(${pageNumber})|"><<</span></li>
								<li th:each="i: ${#numbers.sequence(1, amountOption)}"
									class="page-item"><span class="page-link"
									style="color: black; cursor: pointer;" th:text="${i}"
									th:attr="onclick=|onClickOptionPage(this, ${pageNumber})|"></span></li>
								<li class="page-item"><span class="page-link"
									style="color: black; cursor: pointer;"
									th:attr="onclick=|onClickNextOptionPage(${pageNumber}, ${amountOption})|">>></span></li>
							</ul>
						</nav>
					</div>
					<div class="row ml-sm-1 mt-0 pl-2 mb-3">
						<div class="row">
							<a th:href="@{/candidate/create}">
								<button type="button"
									class="btn-cus btn btn-outline-secondary mr-3">
									<i class="fa fa-plus-circle font-weight-bold"
										style="color: green"></i> New Candidate
								</button>
							</a>
							<button type="button" id="btn-update"
								class="btn-cus btn btn-outline-secondary mr-3">
								<i class="fa fa-arrow-circle-up font-weight-bold"
									style="color: rgb(70, 159, 219)"></i> Update Candidate
							</button>
							<button type="button"
								class="btn-cus btn btn-outline-secondary mr-3"
								data-toggle="modal" data-target="#confirmModal">
								<i class="fa fa-close font-weight-bold" style="color: red"></i>
								Delete Candidate
							</button>
							<p th:text="${valid}" style="color: green;"></p>
							<p id="invalid" th:text="${invalid}" style="color: red;"></p>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="confirmModal" tabindex="-1"
					aria-labelledby="confirmModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<label class="modal-title" id="confirmModalLabel">Confirm</label>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body m-auto">
								<div class="row">
									<label> <i class="bi bi-question-circle-fill"
										style="color: green;"></i> Are you sure to submit?
									</label>
								</div>
								<div class="row">
									<button type="submit" id="btn-ok"
										class="btn btn-outline-secondary ml-2">OK</button>
									<button type="button" id="btn-cancel"
										class="btn btn-outline-secondary ml-2" data-dismiss="modal">Cancel</button>
								</div>
							</div>
							<div class="modal-footer"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:include="fragments/footer :: .footer"></div>
	<script type="text/javascript">
		function onchangePageSize(selPageSize, pageNumber) {
			window.location.href = '/candidate/list?pageSize='
					+ $(selPageSize).find('option:selected').val()
					+ '&pageNumber=' + pageNumber;
		}

		function onClickOptionPage(option, pageNumber) {
			if (pageNumber != $(option).text()) {
				window.location.href = '/candidate/list?pageSize='
						+ $("#pageSize").find('option:selected').val()
						+ '&pageNumber=' + $(option).text();
			}
		}

		function onClickPreOptionPage(pageNumber) {
			if (pageNumber > 1) {
				window.location.href = '/candidate/list?pageSize='
						+ $("#pageSize").find('option:selected').val()
						+ '&pageNumber=' + (pageNumber - 1);
			}
		}

		function onClickNextOptionPage(pageNumber, amountOption) {
			if (pageNumber < amountOption) {
				window.location.href = '/candidate/list?pageSize='
						+ $("#pageSize").find('option:selected').val()
						+ '&pageNumber=' + (pageNumber + 1);
			}
		}

		$("#check-del-all").click(function() {
			$(".check-del").prop('checked', $(this).is(":checked"));
		});

		$("#btn-update").click(function() {
			let canIds = $(".check-del:checked").map(function() {
				return $(this).val();
			}).get();
			if (canIds.length === 1) {
				window.location.href = '/candidate/update?id=' + canIds[0];
			} else {
				$("#invalid").text("Choose only one candidate");
			}
		});
	</script>
</body>
</html>