.tabs {
	margin: 20px;
	padding: 0;
	list-style: none;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.tabs .active-tab {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: none;
	position: relative;
	color: black;
}

.tabs .active-tab:after {
	width: 100%;
	height: 2px;
	position: absolute;
	content: "";
	bottom: -0.1em;
	left: 0;
	background: white;
}

.tabs li {
	display: inline-block;
	cursor: pointer;
	color: #3a5ea7;
	padding: 5px 10px;
}

.tabs li:first-child {
	margin-left: 10px;
}

.tabs-content {
	border-top: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px;
	padding: 0;
	list-style: none;
}

.tabs-content li {
	display: none;
}