<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="modal fade changeStatusModal" id="changeStatus" tabindex="-1" aria-labelledby="changeStatus" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<label class="modal-title" id="confirmModalLabel">Update Status in class</label>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body m-auto">
				<div class="row">
					<label id="modal-title"> <i class="bi bi-question-circle-fill" style="color: orange;"></i>
						Please input reason here
					</label>
				</div>
				<div class="row">
					<div class="tab-pane fade show active m-2" id="pane-tab-infor" role="tabpanel"
						aria-labelledby="tab-infor">
						<div class="col-12 p-0 table-cus mb-3">
							<div class="col-12 title-table">
								<label for="personal-info">Status in Class</label> <input
									type="checkbox" name="personal-info" id="personal-info" data-toggle="toggle">
							</div>
							<div class="hide">
								<div class="col-12 p-0">
									<div class="row row-inf">
										<div class="col-2 title-cell">Empl ID</div>
										<div class="col-2 title-cell">Name</div>
										<div class="col-2 title-cell">Status</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<button type="submit" id="send-request" onclick="sendRequest()"
						class="btn btn-outline-secondary ml-2">Submit</button>
					<button type="button" id="btn-cancel" class="btn btn-outline-secondary ml-2"
						data-dismiss="modal">Close</button>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>